p Hello, world!

= form_tag search_path,
    method: :get do

    .input-group
        = text_field :search, :playlist_user,
            class: 'form-control',
            type: 'search',
            placeholder: 'プレイリストのユーザー',
            aria: { label: 'Search' }
        = text_field :search, :playlist_id,
            class: 'form-control',
            type: 'search',
            placeholder: 'プレイリストのID',
            aria: { label: 'Search' }
        = submit_tag '分析',
            name: nil 

= link_to 'Sign in with Spotify', '/auth/spotify'
