= form_tag '/player_v2', method: 'get' do

    .tray
        h2.homemenu 1. ルートを決めてください

        .input-group.input-group-lg.mb-3
            input#start.form-control(
                type="text"
                placeholder="現在地"
            )
            input#waypoint.form-control(
                type="text"
                placeholder="経由地"
            )
            input#end.form-control(
                type="text"
                placeholder="目的地"
            )
            input#button.btn.btn-primary.form-control(
                type="button"
                value="検索"
            )
        
        #style-selector-control.map-control
            input#hide-poi.selector-control(
                type="radio"
                name="show-hide"
            )
            label(for="hide-poi") Hide
            input#show-poi.selector-control(
                type="radio"
                name="show-hide"
                checked="checked"
            )
            label(for="show-poi") Show
        
        #map
        #infowindow-content
            img#place-icon(
                src=""
                width="16"
                height="16"
            )
            span#place-name.title
            br/
            span#place-address
        
        #directions-panel.result

        input#lat(
            type="hidden"
            name="lat"
        )
        input#lng(
            type="hidden"
            name="lng"
        )
        input#start_pos(
            type="hidden"
            name="start_pos"
        )
        input#end_pos(
            type="hidden"
            name="end_pos"
        )

        input#distance(
            type="hidden"
            name="distance"
            value="0.0"
        )
        input#end_(
            type="hidden"
            name="end_"
        )

    .tray
        h2.homemenu 2. 目標時刻を決めてください
        javascript:
            var time1 = new Date();
            var hour=time1.getHours();
            var minute=time1.getMinutes();
            if (minute>=0 && minute<=9) {minute = "0"+str(minute);}
            //document.write(typeof(minute))
        .row.mb-2
            .col-5
                div 現在時刻
                #nowtime.time-lg
            .col-2.bigicon →
            .col-5
                div 目標時刻
                input#timeSection.time-lg(
                    name="time"
                    type="text"
                )
    
        javascript:
            $("#nowtime").text((hour < 12 ? 'am' : 'pm') + ' ' + (hour < 12 ? '00' + hour : '00' + (hour - 12)).slice(-2) + ":" + ('00' + minute).slice(-2));
            $( "#timeSection" ).timeDropper({meridians: false, format: "a hh:mm"});
        
            function hyoji() {
                var time2 = document.getElementById("timeSection");
                var time2_str = time2.value;
                //document.write(time2_str);
                //document.write(typeof time2_str);
                //document.write(time2_str.substr(4, 2));
                //document.write(time2_str.substr(6, 2));
                //document.write(time2_str.substring(0, 2));
                var ampm = time2_str.substr(0, 2);
                var hour2 = Number(time2_str.substr(3, 2));
                var minute2 = Number(time2_str.substr(6, 2));
                if (ampm == "pm" && hour2 != 12) {hour2 = hour2 + 12;}
                if (ampm =="am" && hour2 == 12) {hour2 = hour2 - 12;}
                if (minute2 - minute < 0) {minute2 += 60; hour2 -= 1;}
                //document.write(typeof(hour2))
                if (minute2 - minute < 0) {minute2 += 60; hour2 -= 1}
                if (hour2 - hour < 0) {hour2 += 24;}
                $("#time").text("所要時間 " + (hour2 - hour) + "時間" + (minute2 - minute) + "分");
            }
            function startfunc() {
                setInterval("hyoji()", 1000);
            }
            startfunc();
        
        #time.result
    
    .tray
        .form-check
            = check_box_tag 'debug', true, false, {id: 'debugForm', class: 'form-check-input'}
            label.form-check-label for="debugForm" Debug
    
    .btn_container
        input.btn.btn-lg.btn-block.btn-primary.btn-lg.mb-3(
            type="submit"
            value="tekut start!"
        )
    
- content_for :javascripts do
    script async=true defer=true src="https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google_map[:key]}&libraries=places&callback=initMap"
    = javascript_include_tag 'style.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'maps.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'dropdown_fix.js', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'timedropper.js', 'data-turbolinks-track': 'reload'

- content_for :stylesheets do
    = stylesheet_link_tag 'timedropper.css', media: 'all', 'data-turbolinks-track': 'reload'