<!DOCTYPE html>
<html>
<body id="black">

<main id="gray">
	<header>
		<h1>jQuery Ripples</h1>
		<h2>A simple WebGL-based ripple effect.</h2>
	</header>
</main>

<%= javascript_include_tag 'style.js', 'data-turbolinks-track': 'reload' %>

<div class="error"></div>

<script>
$(document).ready(function() {
	try {
		$('body').ripples({
			resolution: 512,
			dropRadius: 20, //px
			perturbance: 0.04,
		});
		$('main').ripples({
			resolution: 128,
			dropRadius: 10, //px
			perturbance: 0.04,
			interactive: false
		});
	}
	catch (e) {
		$('.error').show().text(e);
	}

	$('.js-ripples-disable').on('click', function() {
		$('body, main').ripples('destroy');
		$(this).hide();
	});

	$('.js-ripples-play').on('click', function() {
		$('body, main').ripples('play');
	});

	$('.js-ripples-pause').on('click', function() {
		$('body, main').ripples('pause');
	});

	// Automatic drops
	setInterval(function() {
		var $el = $('main');
		var x = Math.random() * $el.outerWidth();
		var y = Math.random() * $el.outerHeight();
		var dropRadius = 20;
		var strength = 0.04 + Math.random() * 0.04 * 10;

		$el.ripples('drop', x, y, dropRadius, strength);
	}, 400);
});
</script>
</body>
</html>
