@import "my_variables";
@import "bootstrap";

html{
    font-size: 100%;
    @include media-breakpoint-down(xs) {
      font-size: calc(60% + 1.2vw);
    }
}

#waypoint {
    display: none;
}

.navright {
    margin-left: auto;
    float: right;
}

.homemenu {
    position: relative;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: lighten($primary, 10);
    font-size: 1.3rem;

    color: white;
    font-weight: bold;

    overflow: hidden;
    
    &::after{
        content: "?";
        color: transparentize(white, 0.5);
        top: -35px;
        right: 5px;
        white-space: nowrap;
        position: absolute;
        font-size: 6rem;
        font-weight: bold;
        transform: rotate(-30deg);
    }
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}

.tray {
    background-color: lighten($primary, 30);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.result {
    position: relative;
    border-radius: 10px;
    background-color: lighten($secondary, 10);
    font-size: 2rem;

    text-align: center;
    color: white;
    font-weight: bold;

    overflow: hidden;

    &::before{
        content: "";
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -15px;
        border: 15px solid transparent;
        border-bottom: 15px solid lighten($secondary, 10);
    }

    &::after{
        content: "!";
        color: transparentize(white, 0.5);
        top: -35px;
        right: 5px;
        white-space: nowrap;
        position: absolute;
        font-size: 6rem;
        font-weight: bold;
        transform: rotate(-30deg);
    }
}

.time-lg{
    font-size: 1.5rem;
    font-weight: bold;
}

input.time-lg{
    width: 8rem;
}

.bigicon{
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.block-dropdown{
    display: block;
}

canvas#player{
  width: 100%;
}

.text-bold{
    font-weight: bold;
}