#black {
	background-image: url('black.jpg');
	background-size: cover;
	background-position: 50%;
	height: 100%;
	text-align: center;
}

#black:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

#gray {
	display: inline-block;
	vertical-align: middle;
    background: url('Running.jpg');
	padding:  100px;
    max-width: 500px;
}

.error {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #000;
	color: #f00;
	padding: 5px;
	max-width: 50%;
}

#time {
    font-weight: bold;
}